<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BufferTweets</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full min-h-screen dark:bg-gray-800">
    <%= render partial: "shared/navbar" %>

    <main class="container flex flex-col items-center mx-auto px-5 py-10">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
